@charset "utf-8";

/*背景样式及能耗概览样式*/
body,html{width:1920px;height:1080px;margin:0;padding:0;}
#big-bg{
	background:url(../images/indexBg.jpg) no-repeat;
	background-size:100%;
	height:100%;
	position:relative;
	overflow:hidden;
}
#box-left{
	width:400px;
	height:500px;
	float:left;
	margin:150px 0 0 70px;
}
#box-right{
	width:400px;
	height:500px;
	float:right;
	margin:-55px 70px 0 0;
}
#energy-survey{
	height:330px;
}
#big-bg p.top-tile{
	width:100%;
	height:25px;
	color:#fff;
}
#big-bg p.top-tile span{
	font-size:20px;
}
#big-bg p.top-tile i:first-child{
	display:block;
	width:10px;
	height:25px;
	background:#6fd7cc;
	margin-right:20px;
}
#big-bg p.top-tile i:last-child{
	display:block;
	margin-left:10px;
	height:100%;
	width:40px;
	margin-top:6px;
	background:url(../images/top-tile.jpg) no-repeat;
	background-size:100%;
}

/*能耗评级/人均能耗*/
#energy-survey>div{width:100%;height:240px;margin-top:30px;}
#energy-survey .energy-chart{
	width:49%;
	height:240px;
	float:left;
}
#energy-survey .circle-img{
	width:80%;
	height: 155px;
	margin:0 auto;
	background:url(../images/circle-energy.jpg) no-repeat;
	background-size:100%;
	text-align:center;
	color:#fff;
	/*line-height:120px;*/
}
#energy-survey .circle-img p:first-child{
	font-size:30px;
	color:#cdf9a4;
	padding-top:30px;
}
#energy-survey .energy-type{
	width:90px;
	height:30px;
	text-align:center;
	line-height:30px;
	margin:5px auto;
	border:2px solid #b9a3a6;
	font-size:20px;
	color:#b87946;
}
#energy-survey .today-energy{
	width:80%;
	margin:20px auto;
}
#energy-survey .today-energy div{
	float:left;
}
#energy-survey .today-energy .type-img{
	width:50px;
	height:50px;
	margin-right:15px;
}
#energy-survey .today-water .type-img{
	background:url(../images/water.jpg) no-repeat;
	background-size:100%;
}
#energy-survey .today-elec .type-img{
	background:url(../images/elec.jpg) no-repeat;
	background-size:100%;
}
#energy-survey .today-energy div>p:first-child{
	font-size:25px;
	color:#cdf66a;
	margin-bottom:3px;
}
#energy-survey .today-energy div>p:last-child{
	color:#fff;
}

/*设备实时数据*/
#equipment-data{
	height:210px;
	margin-top:30px;
}
#equipment-data div{
	width:100%;
	height:180px;
	margin-top:30px;
	background:url(../images/data-table.jpg) no-repeat;
	background-size:100%;
}
#equipment-data div table{
	width:100%;
	color:#fff;
}
#equipment-data div tr{
	height:30px;
}
#equipment-data div td{
	width:25%;
	text-align:center;
}

/*顶部说明样式*/
#top-title{
	float:left;
	width:40%;
	height:95px;
	margin:110px 0 0 100px;
}
#top-title div{float:left;}
#top-title .online-type{
	width:160px;
	height:100%;
	color:#fff;
	font-size:18px;
}
#top-title .online-type div{
	width:50%;
	line-height:30px;
	margin-top:5px;
}
#top-title .online-type div i{
	display:block;
	float:left;
	height:30px;
	width:30px;
	margin-right:10px;
}
#top-title .online-type div.start i{
	background:url(../images/online.png) no-repeat left;
	background-size:100%;
}
#top-title .online-type div i{
	background:url(../images/abnormal.png) no-repeat left;
	background-size:100%;
}

#top-title .icon-type{
	width:71%;
	height:100%;
	margin-left:20px;
	background:url(../images/top-icon.jpg) no-repeat;
	background-size:100%;
}
#top-title .icon-type .today-energy{
	float:left;
	width:25%;
	margin:20px 18px;
}
#top-title .icon-type .today-energy:first-child{
	margin-left:45px;
}
.icon-type .today-energy div{
	float:left;
}
.icon-type .today-energy .type-img{
	width:50px;
	height:50px;
	margin-right:15px;
}
.icon-type .room .type-img{
	background:url(../images/room.jpg) no-repeat;
	background-size:100%;
}
.icon-type .roomout .type-img{
	background:url(../images/roomout.jpg) no-repeat;
	background-size:100%;
}
.icon-type .dampness .type-img{
	background:url(../images/dampness.jpg) no-repeat;
	background-size:100%;
}
.icon-type .today-energy div>p{
	height:30px;
}
.icon-type .today-energy div>p:first-child{
	font-size:25px;
	color:#cdf66a;
	margin-bottom:3px;
}
.icon-type .today-energy div>p:last-child{
	color:#fff;
}

/*气温与暖通能耗曲线*/
#temperature{
	height:270px;
}
#temperature-chart{
	width:100%;
	height:220px;
	margin-top:30px;
}

/*重大事件*/
#big-event{
	height:210px;
	margin-top:30px;
}
#big-event div{
	width:100%;
	height:220px;
	margin-top:30px;
	background:url(../images/big-event.jpg) no-repeat;
	background-size:100%;
	overflow:hidden;
}
#big-event div ul{
	margin:20px;
}
#big-event div ul li{
	height:25px;
	margin:5px 0;
	font-size:16px;
}
#big-event div ul li:nth-child(odd){
	color:#e0171f;
}
#big-event div ul li:nth-child(even){
	color:#ee7733;
}

/*底部图标等样式*/
#box-bottom{
	width:90%;
	position:absolute;
	bottom:50px;
	left:50px;
}
#box-bottom #week-water,#box-bottom #energy-ranking{
	float:left;
}
#box-bottom #week-elec,#box-bottom #contrast{
	float:right;
}

/*近一周用水情况*/
#week-water,#week-elec{
	width:400px;
	height:260px;
}
#week-water-chart,#week-elec-chart{
	width:100%;
	height:210px;
	margin-top:20px;
}

#energy-ranking{
	width:370px;
	height:260px;
	margin-left:50px;
}
	
#energy-ranking-chart{
	width:100%;
	height:210px;
	margin-top:20px;
}	

/*环比样式*/
#contrast{
	width:320px;
	height:150px;
	margin-top:105px;
	margin-right:40px;
}	
#contrast ul li{
	height:40px;
	margin:5px;
}	
#contrast ul li div{
	float:left;
}	
#contrast ul li div.contrast-icon{
	width:30px;
	height:30px;
	margin-right:20px;
	margin-top:5px;
}
#contrast ul li:first-child div.contrast-icon{
	background:url(../images/nuantong.jpg) no-repeat;
	background-size:100%;
}
#contrast ul li:nth-child(2) div.contrast-icon{
	background:url(../images/dianuan.jpg) no-repeat;
	background-size:100%;
}
#contrast ul li:last-child div.contrast-icon{
	background:url(../images/zhaoming.jpg) no-repeat;
	background-size:100%;
}
#contrast ul li div.contrast-text p:first-child{
	font-size:14px;
	color:#fff;
}
#contrast ul li div.contrast-text p.jump{
	font-size:14px;
	color:#3ab073;
}
#contrast ul li div.contrast-text p.up{
	font-size:14px;
	color:#d3925c;
}
#contrast ul li div i{
	display:block;
	float:left;
	margin:5px 10px 0 30px;
	width:30px;
	height:30px;
}
#contrast ul li div.jump i{
	background:url(../images/jump.jpg) no-repeat left;
	background-size:100%;
}
#contrast ul li div.up i{
	background:url(../images/up.jpg) no-repeat left;
	background-size:100%;
}
#contrast ul li div>span{
	font-size:30px;
	color:#d6ff3f;
}

/*中间区域样式*/
#box-middle{
	width:45%;
	height:63%;
	float:left;
	margin:10px 50px;
	background:url(../images/indexArea.png) no-repeat;
	background-size:100%;
	position:relative;
}
#box-middle #scatter,#box-middle #heatChart{
	width:100%;
	height:100%;
	opacity:0;
	position:absolute;
	top:0;
	left:0;
}
#box-middle #scatter.show,#box-middle #heatChart.show{
	opacity:1;
}
#box-middle #onAbanLine{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}

/*区域高亮显示*/
#highlight{
	width:100%;
	height:100%;
	position:relative;
}
#highlight>div{
	position:absolute;
	opacity:0;
}
#highlight>div:hover{
	opacity:1;
}
#arreaOne{
	width:32%;
	height:63%;
	background:url(../images/arreaone.png) no-repeat;
	background-size:100%;
	top:9%;
	left:1%;
}
#arreaTwo{
	width:28%;
	height:41%;
	background:url(../images/arreatwo.png) no-repeat;
	background-size:100%;
	bottom:2.5%;
	left:39%;
}
#arreaThree{
	width:25%;
	height:30%;
	background:url(../images/arreathree.png) no-repeat;
	background-size:100%;
	top:4%;
	left:36%;
}
#arreaFour{
	width:31%;
	height:43%;
	background:url(../images/arreafour.png) no-repeat;
	background-size:100%;
	top:16%;
	left:36%;
}
#arreaFive{
	width:27%;
	height:33%;
	background:url(../images/arreafive.png) no-repeat;
	background-size:100%;
	top:3%;
	right:13.5%;
}
#arreaSix{
	width:21%;
	height:41%;
	background:url(../images/arreasix.png) no-repeat;
	background-size:100%;
	top:14%;
	right:2%;
}
#arreaSeven{
	width:41%;
	height:29%;
	background:url(../images/arreaseven.png) no-repeat;
	background-size:100%;
	bottom:16.5%;
	right:3.5%;
}
#arreaEight{
	width:18%;
	height:23%;
	background:url(../images/arreaeight.png) no-repeat;
	background-size:100%;
	bottom:32.5%;
	right:22%;
}

/*人流能耗悬浮框*/
#highlight>div div{
	width:170px;
	height:100px;
	color:#fff;
	border:1px solid #aaa;
	border-radius:5px;
	background:#0e2638;
	position:absolute;
	top:0;
	right:-150px;
	z-index:999;
}
#highlight>div div p:first-child{
	height:30px;
	font-size:20px;
	text-align:center;
}
#highlight>div div p:last-child,#highlight>div div p:nth-child(2){
	height:30px;
	font-size:18px;
	padding-left:20px;
}
#highlight>div div p:last-child span,#highlight>div div p:nth-child(2) span{
	font-size:25px;
	color:#d6ff3f;
}




